/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  background:#000 url('../img/backgrounds/body.jpg') no-repeat 0px -30px !important;
  font-family: 'Open Sans', sans-serif;
}

/* Login - signup page*/

.ui-page { -webkit-backface-visibility: hidden; } 
.log-image{
  margin:60px 0  50px 0;
  text-align: center;
}

.log-in a{
  color:#FFF;
  display:block;
  font-size: 12px;
  margin:0 auto 18px;
  text-align: center;
  text-decoration: none;
  width:266px;
}

.log-in a span{font-size: 12px;}

.bottom-links{
  text-align: center;
  line-height: 2.6;
  background-color:rgba(255,255,255,0.07);
  -weblit-box-shadow:0px 0px 0px 4px rgba(255,255,255,0.07);
  -moz-box-shadow:0px 0px 0px 4px rgba(255,255,255,0.07);
  box-shadow:0px 0px 0px 4px rgba(255,255,255,0.07);
  border-radius:3px;
  margin:0 auto 18px;
  height:46px;
  width:90%;
}

.bottom-links a{
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
}

#dashboard{background-color: #F1F1F4;}
#dashboard .ui-content{padding:0;}
ul.tabs{
  list-style-type: none;
}

ul.tabs li.active{
  background-color: #F1F1F4;
}

ul.tabs li{
  background-color: #B1B1B1;
}

ul.tabs li a{
  color:#B1B1B1;
  font-size: 22px;
  text-shadow:0px 1px #FFF;
}

ul.tabs li.active a{
  color:#29313D;
}

ul.ui-listview li{
  background-color: #F1F1F4;
  height:170px;
}

ul.ui-listview li a.ui-link-inherit{
  padding:0 10px 0 108px !important;
  text-decoration: none;
}

ul.ui-listview li,
ul.ui-listview li span,
ul.ui-listview li a{
  color:#7F7F7F;
  font-size: 12px;
  text-shadow:0px 1px #FFF;
}

ul.ui-listview li span{font-weight: bold;}
ul.ui-listview li span.genre{font-weight: normal;}
ul.ui-listview li span.genre b{font-weight: bold;}

.ui-li-thumb{
  left:-5px;
  max-height: 158px;
  max-width: 107px;
}

.ui-li-heading{
  color:#828282;
  font-size: 20px;
  
  margin-top:0;
  overflow: visible;
  white-space: normal !important;
}

/* ==========================================================================
    Icons
 ========================================================================== */
/*[class^="iconset-"]{

}*/

.ui-icon{
  background:url('../img/icons/icons.png') no-repeat 0px 0px;
  height:25px;
  width:25px;
}

li .ui-icon-custom{
  background:url('../img/icons/findseat-icons/arrow-right.svg') no-repeat top left;
  background-size: cover;
  height:12px;
  width:8px;
  top:10% !important;
  right:10px !important;
}

/* ICONPOS TWEAKS*/
.ui-icon-bottom .ui-icon{margin-left:-12px;}
.text-field .ui-icon-mail,
.text-field .ui-icon-key,
.text-field .ui-icon-retype,
.text-field .ui-icon-user{
  margin:11px 12px 0px 10px;
  border-right:solid #DDD 1px;
}

/*ICON CLASSNAMES*/
.ui-icon-reload{background-position: 0px 0px;}
.ui-icon-back-arrow{background-position: -42px -5px;}
.ui-icon-mail{background-position: 0px -92px;}
.text-field .ui-icon-mail{background-position: -3px -92px;}
.ui-icon-key{background-position: 0px -125px;}
.text-field .ui-icon-key{background-position: -3px -125px;}
.ui-icon-user{background-position: -3px -165px;}
.text-field .ui-icon-user{background-position: -3px -160px;}
.ui-icon-retype{background-position: -2px -193px;}
.text-field .ui-icon-retype{background-position: -2px -188px;}




/* ==========================================================================
    Buttons
 ========================================================================== */
  .ui-header a.ui-btn{
    height:27px;
    width:27px;
  }

  .transparent,
  [data-theme="transparent"]{
    -weblit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important; 
  }

  .btn,
  a.ui-btn,
  input.ui-btn{
    color:#FFF;
    -weblit-box-shadow:0px 0px 0px 4px rgba(255,255,255,0.15);
    -moz-box-shadow:0px 0px 0px 4px rgba(255,255,255,0.15);
    box-shadow:0px 0px 0px 4px rgba(255,255,255,0.15);
    border-radius:3px;
    margin:0 auto 18px;
 
    width:83%;
  }

  .btn.red,
  [data-theme="red"]{
    background: #e04b40; /* Old browsers */
    background: -moz-linear-gradient(top,  #e04b40 0%, #d6463c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e04b40), color-stop(100%,#d6463c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e04b40 0%,#d6463c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e04b40 0%,#d6463c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e04b40 0%,#d6463c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e04b40 0%,#d6463c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04b40', endColorstr='#d6463c',GradientType=0 ); /* IE6-9 */
  }




/* ==========================================================================
    Form elements
 ========================================================================== */
  div.ui-input-text{margin:6px 0;}
  .ui-submit .ui-btn-text{
    color:#FFF;
    font-size: 17px;
  }
  .text-field{
    background-color:#FFF;
    -weblit-box-shadow:0px 0px 0px 4px rgba(255,255,255,0.15);
    -moz-box-shadow:0px 0px 0px 4px rgba(255,255,255,0.15);
    box-shadow:0px 0px 0px 4px rgba(255,255,255,0.15);
    border-radius:3px;
    height: 46px;
    margin:0 auto 18px;
    width:83%;
  }

  .text-field input[type="text"],
  .text-field input[type="password"],
  .text-field input[type="email"]{width:80% !important;}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.left{float:left;}
.right{float:right;}
.clear{clear:left;}}
.clearall{clear:both;}
.media .img{
  float:left;
  margin-right:10px;
}
.media .body{
  overflow:hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
